<!DOCTYPE html>
<html lang="en">
<body>
    <form action="/result" method="POST">
        <p>* Name <input type='text' name='Name'></p>
        <p><b>* Student Number</b> <input type='text' id='StudentNumber' name='StudentNumber' /></p>
        <p> Univ <input type = "text" name = "Univ" /></p>
        <p> Gender </p>
         <label><input type = "radio" value = "Male" name = "Gender"/>Male</label>
         <label><input type = "radio" value = "Female"  name = "Gender"/>Female</label>
        <br><br>
        <button type='제출' name='submit' value='submit'>submit</button>
    </form>
</body>
</html>
